@page "/outstandingorders"
@page "/admin" 
@using LogicLayer.Functionalities.Orders

@attribute [Authorize]

@inject IViewOutstandingOrders ViewOutstandingOrders 

<h3>Outstanding Orders</h3>
<br/>
<OrderListComponent Orders="orders"></OrderListComponent>

@code { 

    private IEnumerable<Order> orders;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        orders = ViewOutstandingOrders.Execute();
    }

}
