@model ProductViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
 
<title>Products</title>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="justify-content-center text-center">
                <h1>Products</h1>
            </div>
        </div>
    </div>
    <div class="row">
        
        @if (Model._Products.Any())
        {
            foreach (var product in Model._Products)
            {
                <partial name="_ProductCard" model="product"/>

            }
        }
        else
        {
            <div class="col-md-12">
                <div class="justify-content-center text-center">
                    <h3>No products available</h3>
                </div>
            </div>
        }
    </div> 
</div>