@model ProductViewModel

@{
    Layout = "_Layout";
}



<!DOCTYPE html>
 
<title>Products</title>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="justify-content-center text-center">
                <h1>Products</h1>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var product in Model._Products)
        {
            <div class="col-md-3 mb-4">
                <div class="card  mb-md-3 mb-sm-3 card-product">
                    <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"/>
                    <div class="card-body ">
                        @* <p class="text-primary card-text mb-0">Article</p> *@
                        <h4 class="card-title">@product.Name</h4>
                        <p class="card-text">@product.Description</p>
                        <div class="d-flex">
                            <div class="">
                                <p class="fw-bold mb-0 price-text">@product.Price.ToString("C")</p>
                                <p class="text-muted mb-0">@product.Description</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>       
        }
    </div> 
    </div> 