@model dynamic

@{
    Layout = "_Layout";
}


@*  *@
@* *@
@* <div class="container-fluid col-12 center"> *@
@*     <!-- Buttons--> *@
@*     <div class="form-outline mb-4"> *@
@*         <input type="email" id="" value="Button 1" class="btn btn-primary m-5"/> *@
@*         <input type="email" id="" value="Button 2" class="btn btn-primary m-5"/> *@
@*         <input type="email" id="" value="Button 3" class="btn btn-primary m-5"/> *@
@*         <input type="email" id="" value="Button 4" class="btn btn-primary m-5"/> *@
@*     </div> *@
@* *@
@*     <!-- Search Bar --> *@
@*     <div class="form-outline mb-4"> *@
@*         <div class="col-auto"> *@
@*             <label class="sr-only" for="inlineFormInputGroup">Username</label> *@
@*             <div class="input-group mb-2"> *@
@*                 <div class="input-group-prepend"> *@
@*                     <div class="input-group-text"> *@
@*                         <i class="bi bi-search"></i> *@
@*                     </div> *@
@*                 </div> *@
@*                 <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username"> *@
@*             </div> *@
@*         </div> *@
@*         $1$ <input type="search" id="" class="form-control" placeholder="Search..."/> #1# *@
@*     </div> *@
@* </div> *@