@page "/allproducts"

<PageTitle>products</PageTitle>

@using BlazorServer.ViewModels  
@inject IProductContainer _container

<h1>products</h1>

<p>This component demonstrates fetching data from a service.</p>

@{

    ProductViewModel model = new();
    model.Products = _container.GetAll();
}


@if (model == null)
{
    <p>
        <em>Empty</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            @* <th>Date</th> *@
            @* <th>Temp. (C)</th> *@
            @* <th>Temp. (F)</th> *@
            @* <th>Summary</th> *@
        </tr>
        </thead>
        <tbody>
        @foreach (var record in model.Products)
        {
            <tr>
                <td>@record.Id</td>
                <td>@record.Name</td>
                <td>@record.Description</td> 
            </tr>
        }
        </tbody>
    </table>
}

