@model Webshop.Models.Components.FormsProgressBarModel

<div class="progress w-100">
        <div class="progress progress-bar" role="progressbar" aria-valuenow="@Model.Progress" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Progress%">@Model.Progress%</div>
</div>

